<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" href="/images/icon.png" sizes="16x16" type="image/png">
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %>
    </head>
<body>

    <%- include('_header'); %>
    
    <%- body %>

    <%- include('_footer'); %>
    
    <%- script %>
</body>
</html>