<html>
    <head>
        <title><%= title %></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <script src="/js/jquery.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>
        <link rel="icon" href="/images/icon.png" sizes="16x16" type="image/png">
        <link rel="stylesheet" href="<%= assetPath('css/layout.css') %>">
        <%- style %>
    </head>
<body>

    <%- include('_header'); %>
    
    <%- body %>

    <%- include('_footer'); %>
    
    

    <%- script %>
    <script>
        <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: "<%= flash.success %>",
                type: 'success',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <% } %>

        <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'mint',
                text: "<%= flash.error %>",
                type: 'error',
                layout: 'topRight',
                timeout: 1500
                
            }).show();    
        <% } %>
        
    </script>
    <script src="/js/jquery.js"></script>
    
</body>
</html>